aclocal.m4
autom4te.cache
config.log
config.status
configure
Makefile.in
src/Makefile
src/Makefile.in
testing/Makefile
testing/Makefile.in
include/stamp-h1
src/auxil/.deps/
src/blas/.deps/
src/comm/.deps/
src/grid/.deps/
src/panel/.deps/
src/pauxil/.deps/
src/pfact/.deps/
src/pgesv/.deps/
testing/matgen/.deps/
testing/pmatgen/.deps/
testing/ptest/.deps/
testing/ptimer/.deps/
